.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 250px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1541907087-b53188c05407?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fGFjdGl2aXR5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #779fb9;
}
p {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 500;
}
.type {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: rgb(189, 6, 189);
}
.span {
  margin-left: 20px;
}
button {
  margin-top: 40px;
  padding: 15px 22px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  background-color: rgb(189, 6, 189);
  color: #fff;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #fff;
  color: rgb(189, 6, 189);
}